<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-4">
  <a class="navbar-brand fw-bold text-uppercase" routerLink="/home">Administrador</a>
  
  <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" 
    aria-controls="navbarNav" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav align-items-center">
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/idiomas">Idiomas</a>
      </li>

      <ng-container *ngIf="(estaLogueado$ | async)">
        <li class="nav-item mx-2">
          <button class="btn btn-outline-danger" (click)="salir()">Cerrar Sesión</button>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
